In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
data = pd.read_csv("Datasets/HousePriceIndia/ProcessedPrice.csv")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13859 entries, 0 to 13858
Data columns (total 21 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   number of bedrooms                     13859 non-null  int64
 1   number of bathrooms                    13859 non-null  float64
 2   living area                            13859 non-null  int64
 3   lot area                               13859 non-null  int64
 4   number of floors                       13859 non-null  float64
 5   waterfront present                     13859 non-null  int64
 6   condition of the house                 13859 non-null  int64
 7   grade of the house                     13859 non-null  int64
 8   Area of the house(excluding basement)  13859 non-null  int64
 9   Area of the basement                   13859 non-null  int64
 10  Built Year                             13859 non-null  int64
 11  Renovation Year                        13859 non-null  int64
 12  Lattitude                              13859 non-null  float64
 13  Longitude                              13859 non-null  float64
 14  living_area_renov                      13859 non-null  int64
 15  lot_area_renov                         13859 non-null  int64
 16  Number of schools nearby               13859 non-null  int64
 17  Distance from the airport              13859 non-null  int64
 18  Price                                  13859 non-null  int64
 19  Age                                    13859 non-null  int64
 20  Year since renovation                  13859 non-null  int64
dtypes: float64(4), int64(17)
memory usage: 2.2 MB

In [4]:
data.drop("waterfront present" , axis = 1 , inplace=True)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13859 entries, 0 to 13858
Data columns (total 20 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   number of bedrooms                     13859 non-null  int64
 1   number of bathrooms                    13859 non-null  float64
 2   living area                            13859 non-null  int64
 3   lot area                               13859 non-null  int64
 4   number of floors                       13859 non-null  float64
 5   condition of the house                 13859 non-null  int64
 6   grade of the house                     13859 non-null  int64
 7   Area of the house(excluding basement)  13859 non-null  int64
 8   Area of the basement                   13859 non-null  int64
 9   Built Year                             13859 non-null  int64
 10  Renovation Year                        13859 non-null  int64
 11  Lattitude                              13859 non-null  float64
 12  Longitude                              13859 non-null  float64
 13  living_area_renov                      13859 non-null  int64
 14  lot_area_renov                         13859 non-null  int64
 15  Number of schools nearby               13859 non-null  int64
 16  Distance from the airport              13859 non-null  int64
 17  Price                                  13859 non-null  int64
 18  Age                                    13859 non-null  int64
 19  Year since renovation                  13859 non-null  int64
dtypes: float64(4), int64(16)
memory usage: 2.1 MB

In [11]:
scaler = StandardScaler()
features = ['number of bedrooms', 'number of bathrooms', 'living area', 'lot area', 
            'number of floors', 'condition of the house', 'grade of the house', 
            'Area of the house(excluding basement)', 'Area of the basement', 
            'Built Year', 'Renovation Year', 'Lattitude', 'Longitude', 
            'living_area_renov', 'lot_area_renov', 'Number of schools nearby', 
            'Distance from the airport']


data[features] = scaler.fit_transform(data[features])

In [13]:
x = data.drop("Price" , axis = 1)
y = data['Price']

In [17]:
X_train,X_test,Y_train,Y_test = train_test_split(x,y,test_size=0.2 , random_state= 42)

In [19]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [22]:
model = LinearRegression()
model.fit(X_train,Y_train)
y_pred = model.predict(X_test)
mse = mean_squared_error(Y_test , y_pred)
r2=r2_score(Y_test,y_pred)
print(f'Mean Squared Error: {mse}')
print(f'R-squared: {r2}')

Mean Squared Error: 12889521693.27145
R-squared: 0.7063377767522008